<h1>Eat-Da-Burger</h1>

<form>
    <label for="whatBurger">Enter a type of burger you would like to eat:</label>
    <input type="text" id="whatBurger">
    <button type="submit" id="submitBurger">Submit</button>
</form>

<ul>
    <h1>Not Eaten</h1>
    {{#each burgers}}
    {{#if devoured}}
    {{else}}
    <li>
        <h3>{{id}}. {{burger_name}}</h3>
        <button class="devour" data-id="{{id}}" data-devoured="false">Devour it!</button>
    </li>
    {{/if}}
    {{/each}}
</ul>

<ul>
    <h1>Eaten</h1>
    {{#each burgers}}
    {{#if devoured}}
    <li>
        <h3>{{id}}. {{burger_name}}</h3>
        <button class="remake" data-id="{{id}}" data-devoured="true">Remake Burger!</button>
    </li>
    {{/if}}
    {{/each}}
</ul>